.nav-pills>li>a {
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f0f0f0;
    border-top:solid 1px #9e9e9e;
    border-right: solid 1px #9e9e9e;
}
.nav-pills>li.disabled>a {
    color:#cccccc;
    background-color: rgba(240, 240, 240, 0.7);
    border-top:solid 1px rgba(158, 158, 158, 0.5);
    border-right: solid 1px rgba(158, 158, 158, 0.5);
}
.form-control.error {
    border-color: rgb(220, 16, 20)!important;
}
.select2-selection.select2-selection--single.error {
    border-color: rgb(220, 16, 20)!important;
}
.form-control:focus {
    border-color: rgb(17, 167, 220)!important;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075), 0 0 8px rgba(17, 167, 220, 0.6)!important;
}
.bootstrap-datetimepicker-widget.dropdown-menu{
    z-index: 9999999!important;
}
.tooltip_templates{
    display: none
}
.tooltipster-sidetip.tooltipster-noir .tooltipster-box {
    max-width: 200px;
    background: rgba(0, 0, 0, 0.7);
	border: 3px solid black;
	border-radius: 6px;
    box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
    text-indent: 40px;
    text-align: justify;
}
.tooltipster-sidetip.tooltipster-noir .tooltipster-box > img {
    position: absolute;
    margin-top: -20px;
}
.logo-municipio {
    width: 200px;
    margin-top: -20px;
    float: right;
}
.escudo-municipio {
    width:120px;
    height:120px;
    margin-top: 5px;
}
.nav_title {
    height: 200px;
}
.site_title {
    margin-top: 10px;
    line-height: 25px;
    text-align: center;
    height: 200px;
}
.site_title span {
    font-size: 16px;
    width: 230px;
    display: inline-block;
}
.nav-sm .navbar.nav_title a .escudo-municipio {
    margin-top: -20px;
    margin-left: -7px;
    width:55px;
    height:55px;
}
.nav-sm .navbar.nav_title {
    height: 70px;
}
.img-listado-logo {
    width: 120px;
}
.img-listado-escudo {
    width: 80px;
}
.fotografia {
    border-radius: 50%;
    width: 50px;
}
